body{
    padding-top: 50px;
}
.starter{
    padding: 40px 15px;
    text-align: center;
}
.back{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}
.colors{
    background-color: white;
    border-radius: 2px;
}
.footer{
    background-color: #161616;
    color: gray;
    font-size: 10px;
    padding-top: 3em;
    padding-bottom: 5em;
}
.img{
    text-align: center;
    align-items: center;
    height: 60%;
}
.d{
    text-align: center;
    line-height: 100px;
}
.nav li{
    margin-left: 10px;
    background-color: black;
}
.navbar-brand{
    color: aquamarine!important;
}
.t{
    font-size: 14px;
}
.pt{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 690px;
}
.col{
    border:1px solid aquamarine; color: aquamarine;
    border-radius: 2px;
}
.title{
        display: flex;
        justify-content: space-between;
}
button{
    border: none;
    background-color: rgba(0, 0,0, 0)
}
.cols{
    border:1px solid red; color: red;
    border-radius: 2px;
}
.ccc{
    margin-top: 40px;
}
h3{
    margin-top: 0%!important;
}
.divider{
    border-top: 1px solid red;
}
.borders{
    border:1px solid #ccc
}
.cc{
        border: 1px solid red;
        color: red;
        border-radius: 2px;
}
.t{
    margin-top: 2%;
}
.ui{
    list-style: none;
    padding-left: 0%;
}
.ui li{
    float: left;
    margin-left: 0.5em;
}